upstream nestjs-api {
    server nestjs-api:${API_PORT};    
}

server {
    listen ${LOAD_BALANCER_PORT};

    location /health {
        proxy_pass http://nestjs-api/health;
    }

    location /posts {
        proxy_pass http://nestjs-api/posts;
    }
}